JWT_SECRET="secret-jwt-on-financy-system"
DATABASE_URL="postgresql://neondb_owner:npg_LBzHa3Sbf9kt@ep-steep-base-aml34gsd-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
PORT=3333